body {
    background-color: powderblue;
}


#maincontainer {
    background-color: darkgray;
    width:50%;    
    margin:0 auto;
    border-style:groove;
    border-radius:15px;
    
    
}

#framebrowser {
    background-color: lightgray;
    width:60%;
    height:900px;
    display:inline-block;
    border-radius:15px;
    margin-left:5px;
    top:0px;
    border:none;
    transform:scale(0.9);
    transform-origin:0 0 0 0;
    

    
    
    
}


#infobox {
    
    width:30%;
    height:300px;
    margin:0 auto;
    vertical-align: top;
    background-color: bisque;
    text-align: center;
    display:inline-block;   
    border-radius:15px;
}


#ya {
    width:100%;
    height:300px;
    font-size:20px;
    border-radius:15px;
}


#idtake {
    width:350px;
    height:30px;
    border-radius:15px;
}


button {
    background-color: lightseagreen;
    width:160px;
    height:40px;
    text-align: center;
    border-radius:15px;
}